html, body, #root{
    margin: 0;
    padding: 0;
    width: 100%
    min-height: 100vh;
    background-color: #f9fafb;
    font-family: Arial, sans-serif;
    color: #111827;
}

body{
    display: block;
}

h1,h2,h3{
    margin: 0;
}

button{
    cursor: pointer;
    font-weight: 500;
    border: none;
}